[user]
	name = 8code
	email = sena.rn68@gmail.com
[credential]
	helper = osxkeychain
[credential "https://github.com/cinra/"]
	username = 8code
[core]
	excludesfile = ~/.gitignore
[push]
	default = current
[color]
	ui = auto
